h1 {
  font-family: cursive;
  text-align: center;
}
h2 {
  text-transform: uppercase;
}
h4 {
  text-align: center;
  text-decoration: underline;
}
.well {
  text-align: center;
}
.img-responsive {
  border-radius: 40px;
  margin:auto;
  width: 70%;
}
.grids {
  margin: 6px;
  margin-top: 40px;
}
.row {
  border: 2px solid white;
}
.lead {
  border: 3px groove black;
  padding: 5px;
}
.about {
  margin-top: 8px;
}
.bottom {
  margin-top: 50px
}
#intro {
  font-size: 30px;
}
#grid-title {
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: underline;
  font-weight: bold;
}
#skill {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}
